<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>400 Bad Request</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/circles.css">

</head>
<body class="error">
    <h1>400 - Bad Request</h1>
    <p>Sorry, but your request was invalid. Please check your input and try again.</p>

    <a href="/">Back to Home</a>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>
