<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/circles.css">


</head>
<body class="error">

    <h1>404 - Page Not Found</h1>
    <p>The resource you requested could not be found.</p>

    <a href="/">Back to Home</a>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>
