<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/circles.css">

</head>
<body>
    <h1>500 - Internal Server Error</h1>
    <p>Oops! Something went wrong on our side.<br>Please try again later.</p>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>
